<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableView嵌套无限轮播.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16662B091D1A683D00F35376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16662B221D1A683D00F35376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16662B2D1D1A683D00F35376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
